/* 
    Al Romero Natural
    By Hewks
    Layout Styles
*/

/* ///////////////////////////////////////////////
General Styles
/////////////////////////////////////////////// */

/* /////////// Fonts /////////// */

.hw-font-theme {
    font-family: 'Angelina Vintage';
    font-weight: lighter;
    color: rgb(246, 225, 203);
    line-height: 35px;
    font-size: 35px;
}

.hw-font-theme-2 {
    font-weight: lighter;
    color: rgb(246, 225, 203);
}

.hw-theme-line {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(246, 225, 203, 0.507);
    height: 2px;
    max-width: 1100px;
}

.hw-theme-border {
    border: 2px solid rgba(246, 225, 203, 0.692);
}

.hw-theme-bg {
    background-color: rgb(190, 166, 138);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(246, 225, 203);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(246, 225, 203);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(246, 225, 203);
}

/* /////////// Background /////////// */

.hw-bg-theme-color {
    background-color: rgb(38, 67, 47);
}

.hw-cover-bg {
    background-size: cover;
}

.hw-center-bg {
    background-position: center;
}

.hw-bg-icon {
    color: rgba(246, 225, 203, 0.349);
    font-size: calc(7vw);
    position: absolute;
}

.hw-bg-icon.hw-bg-icon-1 {
    top: calc(15vh - 7vw);
    left: calc(10vw - 7vw);
}

.hw-bg-icon.hw-bg-icon-2 {
    top: calc(32vh - 7vw);
    left: calc(25vw - 7vw);
}

.hw-bg-icon.hw-bg-icon-3 {
    top: calc(20vh - 7vw);
    left: calc(65vw - 7vw);
}

.hw-bg-icon.hw-bg-icon-4 {
    top: calc(45vh - 7vw);
    left: calc(50vw - 7vw);
}

.hw-bg-icon.hw-bg-icon-5 {
    top: calc(55vh - 7vw);
    left: calc(15vw - 7vw);
}

.hw-bg-icon.hw-bg-icon-6 {
    top: calc(65vh - 7vw);
    left: calc(75vw - 7vw);
}

.hw-bg-icon.hw-bg-icon-7 {
    top: calc(75vh - 7vw);
    left: calc(40vw - 7vw);
}

.hw-bg-icon.hw-bg-icon-8 {
    top: calc(85vh - 7vw);
    left: calc(7vw - 7vw);
}

.hw-bg-icon.hw-bg-icon-9 {
    top: calc(95vh - 7vw);
    left: calc(55vw - 7vw);
}

.hw-bg-icon.hw-bg-icon-10 {
    top: calc(25vh - 7vw);
    left: calc(90vw - 7vw);
}

.hw-bg-icon.hw-bg-icon-11 {
    top: calc(85vh - 7vw);
    left: calc(90vw - 7vw);
}

/* /////////// Images /////////// */

/* .hw-beauty-border {
    border: 2px solid white;
} */

/* ///////////////////////////////////////////////
Navigation Styles
/////////////////////////////////////////////// */

/* Top Header */

.hw-header-navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    max-height: 75px;
    z-index: 1000;
}

.hw-header-navigation>.hw-header-brand {
    padding: 0 25px;
    background: rgba(246, 225, 203, 0.322);
    border: 2px solid rgb(246, 225, 203);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    cursor: pointer;
    z-index: 1000;
}

.hw-header-navigation>.hw-header-brand:hover {
    background: rgba(246, 225, 203, 0.171);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(246, 225, 203, 0.37);
    -moz-box-shadow: 0px 0px 5px 0px rgba(246, 225, 203, 0.37);
    box-shadow: 0px 0px 5px 0px rgba(246, 225, 203, 0.37);
}

.hw-header-navigation>.hw-header-brand>h1 {
    margin-top: 55px;
    text-align: center;
    font-family: 'Angelina Vintage';
    color: white;
    line-height: 22px;
    font-size: 22px;
    cursor: pointer;
    font-weight: lighter;
}

.hw-header-navigation>.hw-header-link {
    height: 100%;
    line-height: 75px;
    text-align: center;
    padding: 0 15px;
    color: white;
    font-size: 12px;
    transition: all 0.2s ease;
    display: none;
}

.hw-header-navigation>.hw-header-link:hover {
    color: rgb(246, 225, 203);
}

@media screen and (min-width: 720px) {
    .hw-header-navigation>.hw-header-link {
        display: block;
    }
}

/* Sidebar */

.hw-sidebar {
    height: 0;
    background-color: rgba(38, 67, 47, 0.89);
    position: absolute;
    top: calc(-100vh + 75px);
    left: 0;
    width: 100%;
    display: none;
    z-index: 999;
    transition: all 0.5s ease;
    overflow: auto;
}

.hw-active-sidebar {
    top: 75px;
    display: block;
}

.hw-active-sidebar-2 {
    height: calc(100vh - 75px - 35px);
}

.hw-sidebar>.hw-sidebar-title {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(246, 225, 203);
    width: 50%;
    margin: 0 auto;
}

.hw-sidebar>.hw-sidebar-title>span {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.hw-sidebar>.hw-sidebar-links-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.hw-sidebar>.hw-sidebar-links-container>.hw-sidebar-link {
    height: 35px;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    transition: all 0.2s ease;
    font-size: 12px;
}

.hw-sidebar>.hw-sidebar-links-container>.hw-sidebar-link:hover {
    background: rgba(246, 225, 203, 0.171);
}

@media screen and (min-width: 450px) {
    .hw-sidebar>.hw-sidebar-title {
        width: 32%;
    }
}

@media screen and (min-width: 720px) {
    .hw-sidebar {
        display: none;
    }
}

/* ///////////////////////////////////////////////
Footer Styles
/////////////////////////////////////////////// */

.hw-footer {
    color: white;
    background-color: rgb(11, 39, 20);
    border-top: 2px solid rgba(86, 45, 11, 0.438);
}

.hw-footer>span>a {
    color: rgb(246, 225, 203);
}

/* ///////////////////////////////////////////////
Forms Styles
/////////////////////////////////////////////// */

.hw-form-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hw-form-selector>.hw-btn-form-selector {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 0;
    border-radius: 0;
    font-size: 34px;
    color: rgb(246, 225, 203);
    font-family: 'Angelina Vintage';
    position: relative;
    line-height: 25px;
    padding-bottom: 25px;
    cursor: pointer;
}

.hw-form-selector>.hw-btn-form-selector::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    background: rgb(246, 225, 203);
    transition: all 0.4s ease;
}

.hw-form-selector>.hw-btn-form-selector.hw-active-selector::before {
    width: 80%;
    left: 10%;
    height: 3px;
}

.hw-form-selector>.hw-btn-form-selector:hover::before {
    width: 80%;
    left: 10%;
}

.hw-theme-user-form {
    display: none;
    width: 90%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.164);
    padding: 10px;
    border-radius: 5px;
}

@media screen and (min-width: 720px) {
    .hw-theme-user-form {
        padding: 45px;
        border-radius: 10px;
    }

}

.hw-theme-user-form.hw-active-form {
    display: block;
}

.hw-theme-user-form>.hw-form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.hw-theme-user-form>.hw-form-group>label {
    padding-bottom: 5px;
    color: rgb(246, 225, 203);
}

.hw-theme-user-form>.hw-form-group>.hw-form-input {
    background: transparent;
    color: rgb(255, 255, 255);
    border: 0;
    border-bottom: 1px solid rgb(246, 225, 203);
    padding: 14px 20px;
    transition: all 0.2s ease;
}

.hw-theme-user-form>.hw-form-group>.hw-form-input:hover {
    background-color: rgba(246, 225, 203, 0.336);
}

.hw-theme-user-form>.hw-form-group>.hw-form-input:focus {
    background-color: rgba(246, 225, 203, 0.336);
}

.hw-theme-user-form>.hw-form-group>.hw-form-input:active {
    background-color: rgba(246, 225, 203, 0.336);
}

.hw-theme-user-form>.hw-btn {
    background: rgb(246, 225, 203);
    border: 0;
    border-radius: 5px;
    display: block;
    text-align: center;
    height: 40px;
    width: 110px;
    color: black;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 35px;
    transition: all 0.4s ease;
}

.hw-theme-user-form>.hw-btn:hover {
    background: rgb(199, 185, 169);
}