/* 
    Al Romero Natural
    By Hewks
    Principal Styles
*/

/* ///////////////////////////////////////////////
General Styles
/////////////////////////////////////////////// */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    outline: none;
}

a:focus {
    text-decoration: none;
    outline: none;
}

/* /////////// Background /////////// */

.hw-cover-bg {
    background-size: cover;
}

/* ///////////////////////////////////////////////
Page Styles
/////////////////////////////////////////////// */

.hw-page-container {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

/* ///////////////////////////////////////////////
Section Styles
/////////////////////////////////////////////// */

.hw-section-container {
    height: calc(100vh - 75px - 35px);
    width: 100%;
    overflow: auto;
    position: fixed;
}

/* ///////////////////////////////////////////////
Footer Styles
/////////////////////////////////////////////// */

.hw-footer {
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

@media screen and (min-width: 360px) {
    .hw-footer {
        font-size: 12px;
    }
}

@media screen and (min-width: 500px) {
    .hw-footer {
        font-size: 14px;
    }
}